.container-fluid .navbar-brand {
  color: rgb(29, 229, 29);
}

#hoopdada {
  margin-left: 10px;
  margin-bottom: 2px;
}

#hfgdb {
  margin-left: 10px;
}

#rfhfgd {
  max-width: 340px;
  margin-top: 10px;
  margin-left: 10px;
}

#fhfhh {
  display: block;
}

.mkhk {
  display: block;
}

.pksnn {
  margin-left: 5px;
  margin-bottom: 0px;
  font-size: 27px;
}

.kdamnp {
  margin-top: 8px;
  margin-left: 5px;
}

.lxhbljd {
  display: flex;
}

.kasdlj {
  margin-top: 15px;
  margin-left: 15px;
  width: 96px;
  display: flex;
}

.flndfjks {
  display: flex;
}

.fjhbjsifkkn {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.jfdsbchskb {
  display: flex;
  margin-top: 15px;
  text-align: center;
  /*justify-content: center; перемещает всё на центр*/
  justify-content: center;

}